* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header h2{
    width: 225px;
    height: 56px;
    background-color: rgb(20, 174, 172);
    padding-top: 10px;
    color:white ;
    text-align: center;
    border-radius: 5px;
    
}

#header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin-top: 10px;

    /* font-size: 33px; */
    
}

.navbar-list {
    display: flex;
    list-style-type: none;
}

.navbar-list li a{
    text-decoration: none;
    color: rgb(20, 174, 172);
    padding: 15px;
    font-size: 20px;
}



.navbar-list li a::after {
    content: '';
    display: inline-block;
    margin-left: 15px;
    height: 25px;
    /* padding-top: 10px; */
    
    width: 1px;
    background-color: #000;
}

#main{
    background-color: #f1f1f1;
    height: 100vh;
}

#main::after {
    content: '';
    clear: both;
    display: block;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

img{
    float: left;
    padding: 15px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

.left {
    width: calc(100% * 8 / 12);
    background-color: #fff;
    min-height: 500px;
    padding-top: 15px;
}

.left h1{
    padding-left: 20px;
    color: rgb(20, 174, 172);
}

.right {
    width: calc(100% * 3 / 12);
    height: 200px;
    background-color: white;
   padding-top: 10px;
}

.image2{
    width: 90px;
    height: 90px;
    
}

.right h2{
  color: rgb(10, 193, 189);;
  /* display: flex; */
  justify-content: space-between;
  text-align: center;

}

.image3{
    width: 90px;
    height: 90px;
    margin-left: 10px;  
  
}

.test1{
    display: flex;

    margin-top: 20px;
}

.image4{
    width: 90px;
    height: 90px;
    margin-left:
}


.text1{
    background-color: rgb(8, 195, 195);
    width: 100%;
    height: 6px;

}

.text2{
    background-color:rgb(110, 110, 110);
    
    height: 100px;
}


.text2 p{
    text-align: center;
    font-size: 30px;
    color: rgb(160, 160, 160);
    padding-top: 30px;
}

hr{
     margin: 0px 15px 0px 15px;
}

